<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Cart Content Fragment -->
<div th:fragment="cart-content" class="shopping-cart">
    <div class="shopping-cart-content">
        <div th:if="${#lists.isEmpty(cartItems)}" class="text-center">
            <p>Your cart is empty.</p>
        </div>
        <div th:each="cartItem : ${cartItems}" class="mini-cart cart-list p-0 mt-3">
            <div class="mini-cart-item d-flex border-bottom pb-3">
                <div class="col-lg-2 col-md-3 col-sm-2 me-4">
                    <a href="#" title="product-image">
                        <img th:src="${cartItem.product.imageUrl}" class="img-fluid"
                             alt="product-image">
                    </a>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8">
                    <div class="product-header d-flex justify-content-between align-items-center mb-3">
                        <h4 class="product-title fs-6 me-5" th:text="${cartItem.product.name}"></h4>
                        <input type="hidden" name="productId" th:value="${cartItem.product.id}">
                        <button class="btn btn-link text-danger p-0"
                                th:onclick="'removeFromCartAndShow(\'' +${cartItem.product.id}+ '\');'"
                                aria-label="Remove this item">
                            <svg class="close">
                                <use th:href="@{/images/icons.svg#close}"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="quantity-price d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <input type="hidden" name="productId" th:value="${cartItem.product.id}">
                            <div class="input-group product-qty">
                                <button name="quantity"
                                        th:onclick="'minusCartAndShow(\'' +${cartItem.product.id}+ '\');'"
                                        class="quantity-left-minus btn btn-light rounded-0 rounded-start btn-number"
                                        th:disabled="${cartItem.quantity <= 1}">
                                    <svg width="16" height="16">
                                        <use th:href="@{/images/icons.svg#minus}"></use>
                                    </svg>
                                </button>
                                <input type="text" name="quantity"
                                       class="form-control input-number quantity text-center"
                                       th:value="${cartItem.quantity}" readonly>
                                <button name="quantity"
                                        th:onclick="'plusCartAndShow(\'' +${cartItem.product.id}+ '\');'"
                                        class="quantity-right-plus btn btn-light rounded-0 rounded-end btn-number">
                                    <svg width="16" height="16">
                                        <use th:href="@{/images/icons.svg#plus}"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="price-code">
                                <span class="product-price fs-6"
                                      th:text="'$' + ${cartItem.product.price * cartItem.quantity}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-list -->
        <div class="mini-cart-total d-flex justify-content-between py-4"
             th:if="${not #lists.isEmpty(cartItems)}">
            <span class="fs-6">Subtotal:</span>
            <span class="special-price-code">
                    <span class="price-amount amount fs-6">
                        <bdi><span class="price-currency-symbol">$</span><span
                                th:text="${totalPrice}"></span></bdi>
                    </span>
                </span>
        </div>
        <div class="modal-footer my-4 justify-content-center" th:if="${not #lists.isEmpty(cartItems)}">
            <a th:onclick="'checkOutCart();'"
               class="btn btn-outline-gray hvr-sweep-to-right dark-sweep">Checkout</a>
        </div>
    </div>
</div>
</body>
</html>